$base-color: #D73030;

$darkest-gray: #323232;
$dark-gray: #444;
$gray: #AEADAD;
$light-gray: #D9D9D9;

$body-background: #fefefe;

$link-color: $base-color;
$link-x-color: darken($link-color, 10%);

$social-icon-size: 30px;