@mixin container {
    max-width: 40em; // 720px / 18px
    margin: 0 auto;
}

%rule-bg-left {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAALElEQVQIW2NkwAIOHTr0nxFdHCRoZ2fHiCIBEwQphksgC8Il0AXBEtgEQRIAnuMXTIcTfQAAAAAASUVORK5CYII=) repeat;
}

%rule-bg-right {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAKElEQVQIW2M8dOjQfzs7O0YGNAAWwCYJV4kuiWIEsiSG2TBJDAmYnQD6MhdMvjsJWwAAAABJRU5ErkJggg==) repeat;
}