/**********************************************/
/* Quick to the point, to the point no faking */
/**********************************************/

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
// Dependencies
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\

//
// Base Imports
//

@import "compass";
@import "normalize"; // Load CSS version *only*

@import "config";

//
// Typography Imports
//

@import "vars-typeplate";
@import "typeplate";

//
// Utilities & Helpers
//
@import "partials";

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
// Start Theme Styles
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\

//
// Common
//

body {
    background: $body-background;
}

hr {
    @extend %rule-bg-right;
    height: 10px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border: none;
}

a {
    color: $link-color;

    &:hover {
        color: $link-x-color;
        text-decoration: none;
    }

    &:active {
        color: darken($link-x-color, 10%);
        text-decoration: none;
    }

    &:focus {
        outline: 1px dotted $link-color;
    }

    &:visited {
        color: lighten($link-color, 10%);
    }
}

blockquote {
    margin-left: 0;
    padding-left: 1.5em;

    border-left: 6px solid $light-gray;
    color: darken($gray, 20%);
}

code {
    padding-left: 0;
}


//
// Typography
//

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald';
    font-weight: normal;
}

h1, h2 {
    text-shadow: 0 1px 0 white;
}

//
// Layout
//

.site-header,
.main,
.site-footer .inner {
    @include container;
}

.container {
    margin: 0 1em;
}

.main {
    margin-bottom: 2em;
}

.site-footer {
    padding-top: 3em;
    padding-bottom: 3em;
    background: $darkest-gray;
    color: $gray;
}

//
// Site Header
//

.site-header {
    margin-bottom: 4em;
    text-align: center;
}

.site-title {
    @extend .beta;
    @include inline-block;

    margin-bottom: 3rem;
    padding: 2em 1em .5em;

    font-family: 'Oswald';
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    background: $link-x-color;
    
    &, &:visited { 
        color: white;
    }

    &:hover {
        background: none;
        color: $link-x-color;
    }
}

.social-nav {
    text-align: center;
    margin-bottom: 3em;

    a {
        @include inline-block;
        
        height: $social-icon-size;
        width: $social-icon-size;

        padding: $social-icon-size/3;

        background: $darkest-gray;
        border-radius: 100%;
        border: 3px solid transparent;

        font-size: 26px;
        line-height: $social-icon-size;
        text-align: center;
        color: white;
    }

    a:hover {
        background: none;
        color: $link-x-color;
    }
}

//
// Footer Styles
//

.site-footer {
    font-size: .9em;
    text-align: center;

    a {
        font-weight: bold;
        color: $gray;
    }

    a:hover {
        color: white;
    }
}

.poweredby,
.copyright,
.sep {
    @include inline-block;
}

.site-footer { 
    .inner {
        padding: 0 1em;
    }

    .sep {
        margin-right: .25em;
        margin-left: .25em;
    }
}

//
// Post Styles
//

.post-date {
    text-transform: uppercase;
    color: $gray;
}

// Keep images within the bounds of the layout
.post-content img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

//
// Post Lists
//

.post-tags .headline {
    font-weight: bold;
}

.post-list {
    list-style: none;
    padding: 0;
}

.post-index {

}

.post-stub a {
    display: block;
    text-decoration: none;
}

.post-stub-title {
    margin-bottom: .5rem;
}

.post-stub-date {
    font-size: .9em;
    color: $dark-gray;
}


//
// Post Navigation
//

.post-navigation {
    text-align: center;
}

.page-number {
    color: $gray;
}

//
// Plugin Styles
//
.post-content pre[class*="language-"] {
    margin: 1.5em 0;
    padding: auto 0;
}