/**********************************************/
/* Quick to the point, to the point no faking */
/**********************************************/

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
// Dependencies
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\

//
// Base Imports
//

@import "compass";
@import "normalize"; // Load CSS version *only*

@import "config";

//
// Typography Imports
//

@import "vars-typeplate";
@import "typeplate";

//
// Utilities & Helpers
//
@import "partials";

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
// Start Theme Styles
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\

//
// Common
//

body {
    background: $body-background;
}

hr {
    @extend %rule-bg-right;
    height: 10px;
    border: none;
}

a {
    color: $link-color;

    &:hover {
        color: $link-x-color;
    }

    &:active {
        color: $link-x-color;
        text-decoration: none;
    }

    &:focus {
        outline: 1px dotted $link-color;
    }

    &:visited {
        color: lighten($link-color, 10%);
    }
}


//
// Typography
//

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald';
    font-weight: normal;
}

//
// Layout
//

.container {
    margin: 0 1rem;
}

.site-header,
.main {
    @include container;
}

.site-footer {
    background: #666;
    color: white;

    .inner {
        @include container;
    }
}

//
// Site Header
//

.site-header {
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;

    //border-bottom: 6px solid $darkest-gray;
}

.site-title {
    @extend .beta;
    @include inline-block;
    //display: block;

    margin-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;

    font-family: 'Oswald';
    text-align: center;
    text-decoration: none;
    //text-shadow: 4px 3px 0px white, 9px 8px 0px rgba(0,0,0,0.25);
    text-transform: uppercase;

    background: $link-x-color;
    
    &, &:visited { 
        color: white;
    }

    &:hover {
        background: none;
        color: $link-x-color;
    }
}

.social-nav {
    text-align: center;
    margin-bottom: 3rem;

    a {
        @include inline-block;
        
        height: $social-icon-size;
        width: $social-icon-size;

        padding: $social-icon-size/3;

        background: $darkest-gray;
        border-radius: 100%;
        border: 3px solid transparent;

        font-size: 26px;
        line-height: $social-icon-size;
        text-align: center;
        color: white;
    }

    a:hover {
        background: none;
        color: $link-x-color;
    }
}

//
// Post Styles
//

.post-date {
    font-weight: bold;
    text-transform: uppercase;
    color: $gray;
}

// Keep images within the bounds of the layout
.post-content img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}