/**********************************************/
/* Quick to the point, to the point no faking */
/**********************************************/

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
// Dependencies
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\

//
// Base Imports
//

@import "compass";
@import "normalize"; // Load CSS version *only*

@import "config";

//
// Typography Imports
//

@import "vars-typeplate";
@import "typeplate";

//
// Utilities & Helpers
//

@import "partials";

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
// Start Theme Styles
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\

//
// Common
//

body {
    background: $body-background;
}

hr {
    @extend %rule-bg-right;
    height: 6px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border: none;
}

a {
    color: $link-color;

    &:visited {
        color: lighten($link-color, 20%);
    }

    &:hover,
    &:active {
        color: $link-x-color;
    }

    &:focus {
        outline: 1px dotted $link-color;
    }
}

blockquote {
    margin-left: 0;
    padding-left: 1.5em;

    border-left: 6px solid $light-gray;
    color: darken($gray, 20%);
}

code {
    padding-left: 0;
}

//
// Typography
//

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald';
    font-weight: normal;
}

h1, h2 {
    text-shadow: 0 1px 0 white;
}

//
// Layout
//

.main,
.site-footer .inner {
    @include container;
}

.main {
    margin-bottom: 2em;
    padding: 0 1em;
}

.site-footer {
    position: relative;
    padding-top: 3em;
    padding-bottom: 3em;
    background: $darkest-gray;
    color: $gray;
}

//
// Site Header
//

.site-header {
    position: relative;
    margin-bottom: 3em;
    padding-bottom: 2em;
    background: $base-color;
    text-align: center;
}

.site-header:after,
.site-footer:before {
    @extend %rule-bg-right;
    display: block;
    height: 1em;
    width: 100%;

    position: absolute;
    bottom: -1em;

    content: " "; 
}

.site-footer:before {
    top: -1em;
    bottom: auto;
}

.site-title {
    @extend .beta;
    @include css-hyphens(none);

    display: block;
    margin-bottom: 0;
    padding: 2.5rem 1em 1rem;

    font-family: 'Oswald';
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    
    &, &:visited { 
        color: white;
    }
}

.social-nav {
    text-align: center;

    a {
        @include inline-block;
        
        height: $social-icon-size;
        width: $social-icon-size;

        padding: $social-icon-size/3;

        border-radius: 50%;
        border: 3px solid transparent;

        background: $link-x-color;

        font-size: 26px;
        line-height: $social-icon-size;
        text-align: center;
        color: lighten($base-color, 50%);
    }

    a:hover {
        background: none;
        color: white;
    }
}

//
// Footer Styles
//

.site-footer {
    font-size: .9em; // XXX - Use Typeplate
    text-align: center;

    a {
        font-weight: bold;
        color: $gray;
    }

    a:hover {
        color: white;
    }
}

.poweredby,
.copyright,
.sep {
    display: inline-block;
}

.site-footer { 
    .inner {
        padding: 0 1em;
    }

    .sep {
        margin-right: .25em;
        margin-left: .25em;
    }
}

//
// Post Styles
//

.return a:before {
    display: inline-block;
    margin-right: .25em;
    color: $link-color;
    content: "\2190";
}

.post {
    margin-bottom: 3rem;
}

.post-date {
    color: $gray;
    margin-bottom: 1rem;
}

.post-title {
    margin-bottom: 1rem;

    a {
        // $heading-color, but we don't want
        // dependencies
        color: $darkest-gray;
        text-decoration: none;
    }

    a:hover {
        color: $link-x-color;
    }
}

// Keep images within the bounds of the layout
.post-content img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.post-tags .headline {
    font-weight: bold;
}

//
// Post Lists
//

.post-list {
    margin-bottom: 2em;
}

.post-list .post {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $light-gray;
}

//
// Post Navigation
//

.post-navigation {
    text-align: center;
}

.page-number {
    color: $gray;
}

//
// Plugin Styles
//

.post-content pre[class*="language-"] {
    margin: 1.5em 0;
    padding: auto 0;
}

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
// Responsive Stuff
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\

@media screen and (min-width: 26em) {
    .site-header {
        padding-top: 4rem;
    }
    .site-title {
        // We cannot extend inside a media query
        @include type-scale($alpha, $font-base, $type-scale-unit-value, $measure);
        margin-bottom: 0;
    }
}